@mixin ninza-box-icon($box-name){
    &#ninza-#{$box-name}{
        .ninza-box-icon{
            background: url(images/#{$box-name}.png);
        }
    }
}
#ninza-overlay {
    background: rgba(55,55,55,0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    border-bottom: 0px;
    z-index: 999999999999999;
    width: 100%;
    height: 100%;
    display: none;

    .ninza-box {
        background: #fff;
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        min-width: 400px;
        display: none;

        .ninza-box-icon {
            display: block;
            width: 64px;
            height: 64px;
            margin: 0px auto;
            margin-bottom: 15px; 
            background-size: contain !important;
        }

        .ninza-message {
            font-size: 16px;
            text-align: center;
            margin-bottom: 10px;
        }

        .ninza-btn {
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            color:#fff;
            margin: 5px 10px;
            &:hover,&:focus{
                outline: none;
                box-shadow: none;
            }
            &.ninza-btn-danger{
                background: #ff4545;
            }
            &.ninza-btn-success{
                background: #5cb85c;
            }
            &.ninza-btn-info{
                background: #268cff;
            }
        }

        .text-center{
            text-align: center;
        }

        @include ninza-box-icon('alert');
        @include ninza-box-icon('success');
        @include ninza-box-icon('info'); 
        @include ninza-box-icon('confirm'); 
    }
}

.ninza-warning {
    background: #ededed;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;

    b {
        font-style: italic;
    }

    p {
        margin: 10px 0px;

        a {
            color: #333;
        }
    }
}